*.cmi
*.cmx
*.cmo
*.o
*.annot
*~
TAGS
statverif
proveriftotex
src/TODO
src/code.txt
src/lexer.ml
src/lexertotex.ml
src/parser.ml
src/parser.mli
src/pilexer.ml
src/piparser.ml
src/piparser.mli
src/pitlexer.ml
src/pitlexertotex.ml
src/pitparser.ml
src/pitparser.mli
src/_build
src/main.byte
src/main.native
src/statveriftotex.native
debian/files
debian/debhelper-build-stamp
debian/statverif.debhelper.log
debian/statverif.substvars
